html,
body {
  min-width: 525px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.react-multi-carousel-dot button{
   width: 31px !important;
   height: 31px !important;
   height: 30px;
   border-color: transparent !important;
}
.react-multi-carousel-dot--active button{
   background: #CCFF00 !important;
}
.react-multi-carousel-dot-list{
  height: 30px;
}