@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto-Regular.ttf');
}
$light-grey : #F4F3F3;// #E5E5E5;
$light-green: #CCFF00;
$grey-blue: #A5C5CE;
$sizes: (
  "xs":375px, 
  "sm":576px, 
  "two_min": 670px,
  "sml": 780px,
  "smx": 850px, 
  "lg":992px, 
  'lgx': 1100px, 
  "xl":1215px, 
  "xlx": 1310px,
  'xxl':1430px , 
  'xxd':1511px ,
  'xxx': 1730px , 
  'carousel': 1730px,
  'big': 1850px
  );

@mixin media($minmax, $media) {
    @each $size, $resolution in $sizes {
      @if $media == $size {
        @media only screen and (#{$minmax}-width: $resolution) {
          @content;
        }
      }
    }
}